body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container-inscription {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 25%;
    text-align: center;
}

.step {
    display: none;
}


.step label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}
.step input {
    width: 80%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}
.step.active {
    display: block;
}

.step button {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #007BFF;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button.prev {
    background-color: #007bff;
}

button:hover {
    opacity: 0.8;
}

#message {
    margin-top: 15px;
    color: red;
}
