{% extends 'base.html.twig' %}

{% block title %}Inscription - Trouve ton stage{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Choix de formulaire</title>
</head>
<body>
    <h1>Choisissez un formulaire</h1>
    <a href="../public/inscription.php?form=1">Formulaire 1</a><br>
    <a href="../public/inscription.php?form=2">Formulaire 2</a><br>
    <a href="../public/inscription.php?form=3">Formulaire 3</a><br>
</body>
</html>

{% endblock %}