{% extends 'base.html.twig' %}

{% block title %}Inscription - Trouve ton stage{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Choix de formulaire</title>
</head>
<body>


<div class="container">
    <a href="../public/inscription.php?form=1" class="card">
        <h2>Etudiant</h2>
        <img src="../public/assets/images/image_etudiant.avif" alt="Étudiant">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </a>
    
    <a href="../public/inscription.php?form=2" class="card">
        <h2>Professeur</h2>
        <img src="../public/assets/images/image_professeur.jpg" alt="Professeur">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </a>
    
    <a href="../public/inscription.php?form=3" class="card">
        <h2>Entreprise</h2>
        <img src="../public/assets/images/image_entreprise.jpg" alt="Entreprise">
        <p>Le Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression.</p>
    </a>
</div>



</body>
</html>

{% endblock %}