<form action="index.php" method="POST">
    <input type="hidden" name="compte" value="type2">
    <label>Email : <input type="email" name="email" required></label>
    <label>Password : <input type="password" name="password" required></label>
    <label>Téléphone : <input type="phone" name="telephone" required></label>
    <label>Nom : <input type="text" name="nom" required></label>
    <label>Prenom : <input type="text" name="prenom" required></label>
    <label>Campus : <input type="text" name="campus" required></label>
    <button type="submit">Valider</button>
</form>
