{% extends 'base.html.twig' %}

{% block title %}Accueil - Trouve ton stage{% endblock %}

{% block content %}

 <div class="sectionRecherche">
    <div class="search-content">
        <h1>Recherchez votre stage facilement !</h1>
        <div class="search-container">
            <a href="/stages" class="button" id="BtRecherche">Rechercher offre🔍</a>
            <a href="/stages/add" class="button" id="BtRecherche">Rechercher entreprise</a>
            <a href="/stages/edit" class="button" id="BtRecherche">Offre postulée</a>
            <a href="/stages/delete" class="button" id="BtRecherche">SWish list</a>
        </div>
    </div>
</div>


{% endblock %}
