{% extends 'base.html.twig' %}

{% block title %}Inscription - Trouve ton stage{% endblock %}

{% block content %}

<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>S'authentification</title>
</head>
<body>
    <h1>Choisissez un formulaire</h1>
    <a href="index.php?uri=connexion">Connexion</a><br>
    <a href="index.php?uri=inscription">Inscription</a><br>
</body>
</html>

{% endblock %}